@model Students.ViewModel.StudentFormViewModel
@{
    ViewBag.Title = "StudentForm";
}

<h2>@Model.Title Student</h2>

@using (Html.BeginForm("Save", "Students"))
{


    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(model => model.Student.FirstName)
        @Html.TextBoxFor(model => model.Student.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Student.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Student.LastName)
        @Html.TextBoxFor(model => model.Student.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Student.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Student.GenderId)
        @Html.DropDownListFor(model => model.Student.GenderId,
                    new SelectList(Model.Genders, "Id", "Name"),
                    "Select Gender", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Student.GenderId)
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Student.Id)
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/students/list" class="btn btn-warning">Back</a>
}
